
  <style>
    img {
      border: 2px solid black;	
      width: 150px;
      margin: 0 auto;
    }
    p.description {
      color: red;
    }
  </style>

  <p> First visit: <%= @first_visit %> </p>


<h1>Robby Ranshous</h1>

<p>
  I live in atlanta. I teach ruby / rails. I love the sky.
</p>

<i> <b> Stop expressing </i> </b>
<br/>


<img src="http://blog.mindjet.com/wp-content/uploads/2013/01/Happy-Link-Time-11813.jpeg"  />


<p class="description" > Links are fun, especially on fridays </p>


<form action="/set_name" method="POST" >

  <input 
    type="textfield"
    name="user_name"
    value=""
  />

  <input
    type="submit"
    value="Submit"
  />

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

</form>





