<head>
  <style>
    img {
      border: 2px solid black;	
      width: 150px;
      margin: 0 auto;
    }
    p.description {
      color: red;
    }
  </style>
</head>

<h1>Robby Ranshous</h1>

<p>
  I live in atlanta. I teach ruby / rails. I love the sky.
</p>

<i> <b> Stop expressing </i> </b>
<br/>


<img src="http://blog.mindjet.com/wp-content/uploads/2013/01/Happy-Link-Time-11813.jpeg"  />


<p class="description" > Links are fun, especially on fridays </p>